/* Header */
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* User Inputs */
.user-inputs {
    display: flex;
    justify-content: space-between;
    padding: 100px 20%;
    flex-wrap: wrap;
}

.input-container {
    background: #f2f2f2;
    padding: 20px 40px;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .label-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    mat-slider {
        width: 100%;
    }
}

.search-container {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 50px;
}

/** Swatches */
.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .color-swatch-container {
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;

        img.swatch-img {
            width: 60%;
        }
        
        div.swatch-details {
            width: 100%;
            display: flex;
            justify-content: center;
            font-weight: 500;
        }
    }
}

:host ::ng-deep .mat-grid-tile-content {
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1200px) {
    .main-content {
        .color-swatch-container {
            width: 33%;
        }
    }
}


@media (max-width: 700px) {
    .user-inputs {
        .input-container {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .main-content {
        .color-swatch-container {
            width: 50%;
        }
    }
}

@media (max-width: 320px) {
    .main-content {
        .color-swatch-container {
            width: 510%;
        }
    }
}